.wy-side-nav-search > a {
    font-size: 160%;
}

.wy-side-nav-search input[type="text"] {
    padding: 10px 15px;
    font-size: 100%;
    border-radius: 10px;
}

.section a:visited,
footer a:visited {
    color: #2980b9;
}

a.icon.icon-home:visited {
    color: unset;
}
