/* Hack font */
@import url('https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css');

#site-navigation h1.site-logo {
    font-size: 1.5em;
}

#site-navigation .bd-sidebar__top nav ul li a {
    font-size: 1.25em;
}

#site-navigation .bd-sidebar__bottom .navbar_extra_footer {
    color: #999;
    opacity: 0.8;
    font-size: 0.85em;
}

/* Change code block font */
:root {
    --pst-font-family-monospace: "Hack", "Source Code Pro", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "Courier", monospace;
}